n8n/flow-scan-workflow.json
{
  "name": "Wallet Flow Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000001",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "={{ $vars.PARSER_URL }}/flow-scan",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.PARSER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"max_wallets\": 300}",
        "options": {
          "timeout": 1800000
        }
      },
      "id": "f1a2b3c4-0002-4000-8000-000000000002",
      "name": "Flow Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst results = data.results || [];\nconst high = results.filter(r => r.risk_tier === 'HIGH');\n\nif (high.length === 0) {\n  return [];\n}\n\nconst lines = high.map(r => {\n  const implied = r.p_market_at_scan != null ? (r.p_market_at_scan * 100).toFixed(0) + '%' : '?';\n  return `\\u26a0\\ufe0f *HIGH informed-flow signal*\\n` +\n    `*${r.market_question}*\\n` +\n    `side: ${r.dominant_side} | score: ${r.signal_score}\\n` +\n    `new wallets: ${r.dominant_side_count} ($${Math.round(r.dominant_side_usdc).toLocaleString()})\\n` +\n    `market YES price at scan: ${implied}\\n` +\n    `expires: \\u23f3 ${r.days_to_resolution} days`;\n});\n\nreturn lines.map(text => ({ json: { text } }));"
      },
      "id": "f1a2b3c4-0003-4000-8000-000000000003",
      "name": "Filter HIGH Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $vars.TELEGRAM_CHAT_ID, text: $json.text, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "f1a2b3c4-0004-4000-8000-000000000004",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $vars.TELEGRAM_CHAT_ID, text: '\\u26a0\\ufe0f Flow scan failed: ' + ($json.error?.message || 'parser unreachable') }) }}",
        "options": {}
      },
      "id": "f1a2b3c4-0005-4000-8000-000000000005",
      "name": "Scanner Down",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 480]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Flow Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flow Scan": {
      "main": [
        [
          {
            "node": "Filter HIGH Tier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scanner Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter HIGH Tier": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
