n8n/predict-market-risk-workflow.json
{"name":"Predict Market Risk Scanner","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300]},{"parameters":{"url":"https://gamma-api.polymarket.com/markets","sendQuery":true,"queryParameters":{"parameters":[{"name":"active","value":"true"},{"name":"closed","value":"false"},{"name":"order","value":"volumeNum"},{"name":"ascending","value":"false"},{"name":"limit","value":"30"}]},"options":{}},"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Fetch Polymarket Markets","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const MIN_VOLUME = 1000;\nconst MIN_P = 0.05;\nconst MAX_P = 0.95;\n\nconst allItems = $input.all();\nlet markets = [];\nif (allItems.length === 1) {\n  const raw = allItems[0].json;\n  markets = Array.isArray(raw) ? raw : (raw.data || raw.markets || [raw]);\n} else {\n  markets = allItems.map(function(i) { return i.json; });\n}\n\nfunction extractPrice(m) {\n  if (m.outcomePrices && typeof m.outcomePrices === 'string') {\n    try {\n      const arr = JSON.parse(m.outcomePrices);\n      const p = parseFloat(arr[0]);\n      if (!isNaN(p)) return p;\n    } catch {}\n  }\n  if (Array.isArray(m.outcomePrices) && m.outcomePrices.length > 0) {\n    const p = parseFloat(m.outcomePrices[0]);\n    if (!isNaN(p)) return p;\n  }\n  if (Array.isArray(m.tokens) && m.tokens.length > 0) {\n    const p = parseFloat(m.tokens[0].price != null ? m.tokens[0].price : m.tokens[0].lastPrice);\n    if (!isNaN(p)) return p;\n  }\n  const fallback = m.bestBid != null ? m.bestBid : (m.lastTradePrice != null ? m.lastTradePrice : m.price);\n  if (fallback != null) {\n    const p = parseFloat(fallback);\n    if (!isNaN(p)) return p;\n  }\n  return NaN;\n}\n\nconst result = [];\nfor (const m of markets) {\n  if (m.closed === true) continue;\n  const p_market = extractPrice(m);\n  if (isNaN(p_market) || p_market < MIN_P || p_market > MAX_P) continue;\n  const vol = parseFloat(m.volumeNum != null ? m.volumeNum : (m.volume24hr != null ? m.volume24hr : (m.volume != null ? m.volume : 0)));\n  if (vol < MIN_VOLUME) continue;\n  result.push({ json: {\n    question: m.question || m.title || m.conditionId,\n    slug: m.slug || m.conditionId || m.id,\n    p_market: Math.round(p_market * 10000) / 10000,\n    volume: Math.round(vol)\n  }});\n}\n\nreturn result;"},"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"Parse & Filter Markets","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"url":"https://api.tavily.com/search","method":"POST","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"api_key","value":"={{ $vars.TAVILY_API_KEY }}"},{"name":"query","value":"={{ $json.question }}"},{"name":"search_depth","value":"basic"},{"name":"max_results","value":"3"}]},"options":{}},"id":"33445566-7788-9900-1122-ccddeeff1122","name":"Tavily Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"var tavilyResp = $json;\nvar market = $('Parse & Filter Markets').item.json;\n\nvar articleText = (tavilyResp.results || [])\n  .slice(0, 3)\n  .map(function(r) { return r.content || ''; })\n  .join('\\n\\n')\n  .slice(0, 3000);\n\nif (!articleText.trim()) return;\n\nreturn { json: {\n  question: market.question,\n  slug: market.slug,\n  p_market: market.p_market,\n  volume: market.volume,\n  article_text: articleText\n}};"},"id":"66778899-0011-2233-4455-ff0011224455","name":"Build Signal Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,300]},{"parameters":{"url":"={{ ($vars.PARSER_URL || 'http://localhost:8000') + '/signal' }}","method":"POST","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.article_text }}"},{"name":"market_question","value":"={{ $json.question }}"}]},"options":{}},"id":"44556677-8899-0011-2233-ddeeff002233","name":"Parser Signal","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"var signal = $json;\nvar prev = $('Build Signal Input').item.json;\n\nif (typeof signal.p_model !== 'number') return;\n\nreturn { json: {\n  question: prev.question,\n  slug: prev.slug,\n  p_market: prev.p_market,\n  volume: prev.volume,\n  p_model: signal.p_model,\n  market_direction: signal.market_direction,\n  event_type: signal.event_type,\n  sentiment: signal.sentiment,\n  impact_score: signal.impact_score,\n  confidence: signal.confidence,\n  assets: signal.assets\n}};"},"id":"77889900-1122-3344-5566-001122335566","name":"Merge Signal","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"e5f6a7b8-c9d0-1234-efab-000000000001","leftValue":"={{ Math.abs(($json.p_model ?? 0) - ($json.p_market ?? 0)) }}","rightValue":0.04,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"Edge Filter (≥ 4%)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1680,300]},{"parameters":{"url":"={{ ($vars.PARSER_URL || 'http://localhost:8000') + '/risk' }}","method":"POST","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"p_model","value":"={{ $json.p_model }}"},{"name":"p_market","value":"={{ $json.p_market }}"},{"name":"bankroll","value":"={{ $vars.BANKROLL || '1000' }}"},{"name":"deployed","value":"={{ $vars.DEPLOYED || '0' }}"}]},"options":{}},"id":"55667788-9900-1122-3344-eeff00113344","name":"Parser Risk","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,220]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"var risk = $json;\nvar prev = $('Edge Filter (\\u2265 4%)').item.json;\n\nreturn { json: Object.assign({}, prev, {\n  verdict: risk.verdict,\n  bet_size: risk.bet_size,\n  ev: risk.ev,\n  kelly_f: risk.kelly_f,\n  kelly_full: risk.kelly_full,\n  edge: risk.edge,\n  rules: risk.rules\n})};"},"id":"88990011-2233-4455-6677-112233446677","name":"Merge Risk","type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,220]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"a7b8c9d0-e1f2-3456-abcd-000000000001","leftValue":"={{ $json.verdict }}","rightValue":"GO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a7b8c9d0-e1f2-3456-abcd-567890123456","name":"Verdict Filter (GO only)","type":"n8n-nodes-base.if","typeVersion":2,"position":[2400,220]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.all().map(function(item) {\n  const d = item.json;\n  const edge = ((d.edge || 0) * 100).toFixed(1);\n  const rules = (d.rules || []).map(function(r) {\n    return (r.passed ? '\\u2705' : '\\u274c') + ' ' + r.name + ': ' + r.message;\n  }).join('\\n');\n\n  const q = (d.question || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n  const message = [\n    '\\uD83D\\uDFE2 <b>GO \\u2014 ' + q + '</b>',\n    '',\n    '\\uD83D\\uDCCA <b>Signal</b>',\n    '  p_model: <b>' + d.p_model + '</b>  |  p_market: ' + d.p_market + '  |  edge: <b>+' + edge + '%</b>',\n    '  direction: ' + d.market_direction + '  |  event: ' + d.event_type,\n    '  sentiment: ' + d.sentiment + '  |  confidence: ' + d.confidence,\n    '',\n    '\\uD83D\\uDCB0 <b>Position</b>',\n    '  bet: <b>$' + d.bet_size + '</b>  |  EV: +$' + d.ev,\n    '  Kelly f*: ' + d.kelly_f + '  |  volume: $' + (d.volume || 0).toLocaleString(),\n    '',\n    '\\uD83D\\uDCCB <b>Rules</b>',\n    rules,\n    '',\n    '\\uD83D\\uDD17 polymarket.com/event/' + d.slug\n  ].join('\\n');\n\n  const result = Object.assign({}, d, { message: message });\n  return { json: result };\n});"},"id":"b8c9d0e1-f2a3-4567-bcde-678901234567","name":"Format Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,220]},{"parameters":{"url":"=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage","method":"POST","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"1891143960"},{"name":"text","value":"={{ $json.message }}"},{"name":"parse_mode","value":"HTML"}]},"options":{}},"id":"c9d0e1f2-a3b4-5678-cdef-789012345678","name":"Send Telegram Alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,220]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Fetch Polymarket Markets","type":"main","index":0}]]},"Fetch Polymarket Markets":{"main":[[{"node":"Parse & Filter Markets","type":"main","index":0}]]},"Parse & Filter Markets":{"main":[[{"node":"Tavily Search","type":"main","index":0}]]},"Tavily Search":{"main":[[{"node":"Build Signal Input","type":"main","index":0}]]},"Build Signal Input":{"main":[[{"node":"Parser Signal","type":"main","index":0}]]},"Parser Signal":{"main":[[{"node":"Merge Signal","type":"main","index":0}]]},"Merge Signal":{"main":[[{"node":"Edge Filter (≥ 4%)","type":"main","index":0}]]},"Edge Filter (≥ 4%)":{"main":[[{"node":"Parser Risk","type":"main","index":0}],[]]},"Parser Risk":{"main":[[{"node":"Merge Risk","type":"main","index":0}]]},"Merge Risk":{"main":[[{"node":"Verdict Filter (GO only)","type":"main","index":0}]]},"Verdict Filter (GO only)":{"main":[[{"node":"Format Alert","type":"main","index":0}],[]]},"Format Alert":{"main":[[{"node":"Send Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"instanceId":"local"}}
